<header>
	<div class="menu">
		<ul> 
			<li><%= link_to "Job Board", job_board_path %></li>
            <li><%= link_to "Landing Pages", landing_pages_path %></li>
		</ul>
	</div>
    
    <div class="menu-btn flex-all">
    	<div class="menu-btn-wrap"><span></span><span></span><span></span></div>
    </div>
    <a href="<%= root_path %>" class="logo"><%= image_tag("logo.png", height: "80") %></a> 
    <div class="header-right">
        <div class="account-menu clearfix">
            <% if user_signed_in? %>
        	<div class="avatar flex-v">
        		<span>Welcome, <%= current_user.firstname %></span>
        		<%= image_tag(current_user.avatar.variant(combine_options: {thumbnail: '100x100^', gravity: 'center', extent: '100x100'}), height: "40", width: "40") %>
                <span><%= link_to "Logout", destroy_user_session_path, method: :delete %></span>
        	</div>
            <% else %>
                <ul>
                    <li><%= link_to "Login", new_user_session_path %></li>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                </ul>
            <% end %>
        </div>
    </div>
</header>